<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi</h1>
    <p>
      You ordered: 
          <% @order.line_items.each do |item| %>
            <%= item.product.name %>
          <% end %>
      Your total is: 
          <%= @order.total %> 
        
    </p>
  </body>
</html>